


<section style="text-align: center" class='trackinfo'>
  <h1 style='font-size: 30px; text-decoration: underline'>TRACK INFO</h1>
  <p>Title: <%= @track.title %></p>
  <p>Band: <%= @track.album.band.name %></p>
  <p>Album: <%= @track.album.title %></p>
  <p>Track #: <%= @track.ord %></p>
  <p>Bonus: <%= @track.bonus == true ? 'Yes' : 'No' %></p>
  <% if @track.lyrics %>
    <section class='uglylyrics'>
      <h1>Lyrics:</h1>
      <% ugly_lyrics(@track.lyrics).each do |lyric| %>
        <p>&#9835<%=lyric %></p>
      <% end %>
    </section>
  <% end %>
</section>

<div class="button1">
  <%= button_to "Go To Album Page", album_url(@track.album), method: :get, class: 'railsbutton' %>
  <%= button_to "Go To Band Page", band_url(@track.album.band), method: :get, class: 'railsbutton' %>
</div>
